/*======================
    404 page
=======================*/


.page_404 {
  padding: var(--medium-spacing) 0;
  background: #fff;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: var(--blue);
  margin: var(--small-spacing) 0;
  display: inline-block;
}

.content_box_404 .page-not-found__heading {
  font-size: var(--large-fs);
}

.content_box_404 p {
  font-size: var(--medium-fs);
}
