/* CSS Index
---------------------------------------
1. carousel styles
2. contact card styles

*/

/* carousel styles */

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--mid-black);
}

/* contact card styles */

.contact-card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--grey);
}

.card-content {
  padding: var(--medium-spacing);
}

.card-title {
  font-size: var(--semi-medium-fs);
  /* margin-bottom: 5px; */
}

@media (min-width: 900px) {
  .card-title {
    font-size: var(--medium-fs);
  }
}

.card-address,
.card-price {
  font-size: var(--small-fs);
  margin-bottom: 5px;
}

@media (min-width: 900px) {
  .card-price {
    font-size: var(--semi-medium-fs);
  }
}

dl {
  font-weight: bold;
}

.contact-button {
  font-size: var(--smallest-fs);
  font-weight: 700;
  padding: var(--small-spacing) 15px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 900px) {
  .contact-button {
    font-size: var(--semi-medium-fs);
  }
}

.contact-button:hover {
  background-color: #444;
}
